[Unit]
Description="Service for uploading {{ s3cmd_upload_name }} backups to s3 buckets."
Documentation=https://github.com/status-im/infra-role-s3cmd-upload
Requires=network-online.target
After=network-online.target
{% if s3cmd_upload_service_extra_after is defined %}
After={{ s3cmd_upload_service_extra_after }}
{% endif %}

[Service]
User={{ s3cmd_upload_service_user }}
ExecStart={{ s3cmd_upload_script }}
Type=oneshot
TimeoutStartSec={{ s3cmd_upload_service_start_timeout }}
