[Unit]
Description="Service for uploading {{ backup_name }} backups to s3 buckets."
Documentation=https://github.com/status-im/infra-role-s3cmd-backup
Requires=network-online.target
After=network-online.target
{% if backup_service_extra_after is defined %}
After={{ backup_service_extra_after }}
{% endif %}

[Service]
User={{ backup_service_user }}
ExecStart={{ backup_script }}
Type=oneshot
TimeoutStartSec={{ backup_service_start_timeout }}
